In [20]:
import psycopg2 as pg2
import pandas as pd
from sqlalchemy import create_engine
import os
from config import api_key

In [21]:
#Create connection with PostgreSQL
conn = pg2.connect(database='Wines',user='postgres', password=api_key)

#Establish connection and start cursor to be ready to query
cur = conn.cursor()

In [22]:
#Pass in a query as a string
cur.execute("SELECT * FROM wine_info")

#Show results of first row
cur.fetchone()

('1/1/1919',
 'Spain',
 'Cava',
 '1919 Brut Selecció',
 88,
 '$13.00 ',
 'Catalonia',
 "L'Arboc NV 1919 Brut Selecció Sparkling (Cava)",
 'Sparkling Blend',
 "L'Arboc")

In [23]:
#Pulling the wanted data
Salaries = pd.read_sql("SELECT * FROM wine_info", conn)

#Show results
Salaries.head()

,vintage,country,county,designation,points,price,province,title,variety,winery
0,1/1/1919,Spain,Cava,1919 Brut Selecció,88,$13.00,Catalonia,L'Arboc NV 1919 Brut Selecció Sparkling (Cava),Sparkling Blend,L'Arboc
1,1/1/1929,Italy,Vernaccia di San Gimignano,None,87,$14.00,Tuscany,Guidi 1929 2015 Vernaccia di San Gimignano,Vernaccia,Guidi 1929
2,1/1/1929,Italy,Sangiovese di Romagna Superiore,Prugneto,84,$15.00,Central Italy,Poderi dal Nespoli 1929 2011 Prugneto (Sangiov...,Sangiovese,Poderi dal Nespoli 1929
3,1/1/1934,Portugal,None,Reserva Velho,93,$495.00,Colares,Adega Viuva Gomes 1934 Reserva Velho Red (Cola...,Ramisco,Adega Viuva Gomes
4,1/1/1945,France,Rivesaltes,Legend Vintage,95,$350.00,Languedoc-Roussillon,Gérard Bertrand 1945 Legend Vintage Red (Rives...,Red Blend,Gérard Bertrand

In [24]:
#Pass in a query as a string
cur.execute("SELECT * FROM wines_by_state_seven")

#Show results of first row
cur.fetchone()

('ARIZONA', '65,413', '0', '0')

In [25]:
#Pulling the wanted data
Salaries = pd.read_sql("SELECT * FROM wines_by_state_seven", conn)

#Show results
Salaries.head()

       usstate        wines specialwines specialwinestaxable
0      ARIZONA       65,413            0                   0
1   CALIFORNIA  568,801,873       794158              171939
2     COLORADO      221,258            0                   0
3  CONNECTICUT      110,484            0                   0
4      FLORIDA    1,610,275            0                   0

In [26]:
#Pass in a query as a string
cur.execute("SELECT * FROM wines_by_state_fifteen")

#Show results of first row
cur.fetchone()

('ALABAMA', '42,656', '0', '0')

In [27]:
#Pulling the wanted data
Salaries = pd.read_sql("SELECT * FROM wines_by_state_fifteen", conn)

#Show results
Salaries.head()

      usstate        wines specialwines specialwinestaxable
0     ALABAMA       42,656            0                   0
1     ARIZONA      198,746        5,050               2,133
2    ARKANSAS      203,701            0                   0
3  CALIFORNIA  638,173,762      844,056             158,470
4    COLORADO      449,679            0                   0

###  Connect to local database

###  Check for tables

### Use pandas to load csv converted DataFrame into database

### Confirm data has been added by querying the wines table